body {
    background-color: black;
    color: aliceblue;
    display: grid;
    justify-items: center;
}

.cards-container {
    display: grid;
    row-gap: 3vh;
}

.card {
    display: grid;
    border: 2px solid aliceblue;
    padding: 10px;
    max-height: fit-content;
}

.card > * {
    margin: 0;
    width: 33vw;
    display: flex;
}

.user {
    justify-content: center;  
}

.date, .time {
    justify-content: end;
    font-size: 12px;
}

.message {
    margin: 25px;
    justify-self: baseline;
}

form {
    display: grid;
}

.submit {
    margin-top: 3vh;
}